<div class="dr-site-footer">
  <div class="dr-site-footer__inner md-grid">
    <div class="dr-site-footer__company">
      <p>
        <a href="https://dealrocket.ru/" target="_blank" rel="noopener">Dealrocket</a> - лучший сервис для увеличения B2B продаж в России. В Dealrocket есть все для успешного поиска контактов ЛПР, фильтры по должностям, индустриям и размеру компаний.
      </p>
      <p>
        <strong>ООО «Системы Машинного Обучения»</strong><br>
        ИНН: 7802946363<br>
        194291, г. Санкт-Петербург, вн.тер.г. Муниципальный округ № 15, б-р Поэтический, д. 11, к. 1, кв. 148
      </p>
    </div>

    <nav class="dr-site-footer__menu" aria-label="Ссылки DealRocket">
      <a href="{{ config.extra.links.contacts }}" target="_blank" rel="noopener noreferrer">Контакты</a>
      <a href="https://dealrocket.ru/app/pricing" target="_blank" rel="noopener">Тарифы</a>
      <a href="https://dealrocket.ru/app/offer.pdf" target="_blank" rel="noopener">Оферта</a>
      <a href="https://dealrocket.ru/app/privacy.pdf" target="_blank" rel="noopener">Политика конфиденциальности</a>
      <a href="https://dealrocket.ru/app/consent.pdf" target="_blank" rel="noopener">Согласие на обработку ПД</a>
      <a href="https://dealrocket.ru/otzyvy_o_servise_dealrocket/" target="_blank" rel="noopener">Отзывы о Dealrocket</a>
      <a href="https://dealrocket.ru/news/" target="_blank" rel="noopener">Блог о продажах</a>
      <a href="https://dealrocket.ru/sitemap/" target="_blank" rel="noopener">Карта сайта</a>
      <a href="https://dealrocket.ru/cases/" target="_blank" rel="noopener">Кейсы</a>
    </nav>

    <div class="dr-site-footer__copyright">
      Copyright © <a href="https://dealrocket.ru/" target="_blank" rel="noopener">dealrocket.ru</a>
    </div>
  </div>
</div>
